#container{

    width:99%;
    height:500px;
    align-items: center;
    background-color: aqua;
    border: 1%;

}
body{
    align-items: center;
    width: 95%;
    border: solid black 2px;
    padding:1%;
}