#container{

    width:87.5%;
    height:500px;
    align-items: center;
    background-color: rgb(200, 240, 240);
    float: right;

}
#containerMovies{

    width:87.5%;
    height:auto;
    align-items: center;
    background-color: rgb(200, 240, 240);
    float: right;

}
body{
    width:99%;
    height: 100%;
    align-items: center;
    
    
    
}

#bookingMovie1{

    width:98%;
    height: 200px;
    padding:1%;

}
#bookingMovie2{

    width:98%;
    height:  200px;
    padding:1%;
    
}
#bookingMovie3{

    width:98%;
    height:  200px;
    padding:1%;
    
}
#bookingMovie4{

    width:98%;
    height:  200px;
    padding:1%;
    
}
#bookingMovie5{

    width:98%;
    height: 200px;
    padding:1%;
    
}
#right{
    float:right;
    

}

#bookingDiv{

    background-color: aquamarine;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(199, 199, 199);
    padding: 10px;
    text-align: center;

}


#navbar{
    list-style-type: none;
    margin: 0;
    padding: 1%;
    width: 10%;
    height: 1000px;
    background-color: #005f6b;
    float: left;
}
      
#navbar a {
    background-color: #7ef0ff;
    border-bottom: 5px solid #005f6b;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


#navbar a:hover {
    background-color: #555;
    color: white;
}

